﻿@model ForumProject.PresentationLayer.Models.CommentViewModel
@{
    ViewBag.Title = "PartialViewArticle";
}
@System.Web.Optimization.Scripts.Render( 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")

        <div id="leaveComment">
            Leave a Comment
        </div>

        <br/>
        @Html.Label("Title")

        <div class="editor-field">            
            @Html.EditorFor(model => Model.TitleBaseComment, new { @class = "form-control" })
             @Html.ValidationMessageFor(model => model.TitleBaseComment)
        </div>


        <br/>
        <div class="editor-label">
            @Html.Label("Comment")
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => Model.ContentBaseComment, new { @class = "create_base_comment" })
            @Html.ValidationMessageFor(model => model.ContentBaseComment)
             @* @Html.EditorFor(model => Model.ContentBaseComment)*@
        </div>


