﻿@model ForumProject.PresentationLayer.Models.ArticleViewModel
@using ForumProject.PresentationLayer.Helpers;
@{
    ViewBag.Title = "PartialViewArticle";
}
@System.Web.Optimization.Scripts.Render( 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")

        <div id="ReviewComments">
                        Comments/Review
                    </div>

                    <table id="table">



                        @foreach (var item in Model.BaseComments)
                        {


                            <tr>
                                <h5 class="leftstr">@item.TitleBaseComment</h5>
                                <p class="rightstr">

                                     @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.Identity.Name == @Model.NickName)
                                     {
                                    <button id="btnDel" onclick="DeleteComment(@Model.Id,@item.Id)">
                                    <img src="@Url.Content("~/Content/themes/base/images/remove.png")" height="20" width="20"/>
                                    </button>
                                     }
                                </p>
                                <div style="clear: left"></div>
                                <h6>@item.ContentBaseComment</h6>
                            </tr>
                            <hr />

                        }
                    </table>
 <tfoot>
        <tr>
            <td colspan="3">
                 <p>Page @(Model.PageInfo.TotalItems < Model.PageInfo.PageNumber ? 0 : Model.PageInfo.PageNumber) of @Model.PageInfo.TotalPages</p>
                @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
                {
                    if (i == Model.PageInfo.PageNumber)
                    {
                        @i
                    }
                    else
                    {
                        <a class="page-number" href="javascript:Paging(@Model.Id,@i);">@i</a>
                    }
                }
            </td>
        </tr>
    </tfoot>


     





