﻿@model ForumProject.PresentationLayer.Models.LoginModel
@{
    ViewBag.Title = "Login";   
}

<div id="login">
    <h1>@Resources.Resource.LabelLoginOnLoginPage</h1>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
 
        <fieldset id="inputs">

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            @Html.EditorFor(model => model.UserName, new { @class = "username" })
            @Html.ValidationMessageFor(model => model.UserName)

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            @Html.EditorFor(model => model.Password, new { @class = "password" })
            @Html.ValidationMessageFor(model => model.Password)

        </fieldset>
            
        <fieldset id="actions">
            @* <input type="submit" id="submit" value="Log in">*@
            <input type="submit" value="@Resources.Resource.ButtonLoginOnLoginPage" id="login_anim" />
            @Html.ActionLink(@Resources.Resource.RegisterLinkOnLoginPage, "Register", "Account")
        </fieldset>
                
    }

</div>






