﻿@model ForumProject.PresentationLayer.Models.RegisterModel
@{
    ViewBag.Title = "Register";
    
}

 @System.Web.Optimization.Scripts.Render("~/bundles/microsoftajax",
                    "~/bundles/datepicker", "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")
     
     <div id="login">
        <h1>@Resources.Resource.LabelRegisterOnRegisterPage</h1>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
 
            <fieldset id="inputs">
                <legend runat=server visible="false"></legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UserName)
                </div>
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)


                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)

                
                <div class="editor-label">
                    @Html.LabelFor(model => model.Birthday)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => Model.Birthday, new { @class = "datePicker" })
                    @Html.ValidationMessageFor(model => model.Birthday)
                </div>

             @*   <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)*@

                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)


                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                @Html.EditorFor(model => model.ConfirmPassword)
                @Html.ValidationMessageFor(model => model.ConfirmPassword)


            </fieldset>                  
  
            <fieldset id="actions">
                <input type="submit" id="submit" value="@Resources.Resource.ButtonRegisterOnRegisterPage">
                @Html.ActionLink(@Resources.Resource.BackToList, "Login")
            </fieldset>        
        
        }

    </div>



