﻿@model ForumProject.PresentationLayer.Models.ArticleViewModel
@{
    ViewBag.Title = "Create article";   
}
@System.Web.Optimization.Scripts.Render( 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")


@using (Html.BeginForm("Create", "Article", FormMethod.Post))
{
    <h2>
    <img src="/Content/themes/base/images/create_article.png" height="30" width="30">
    Create new article
    </h2>
     @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>


        <div class="editor-field">
            @Html.EditorFor(model => Model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContentArticle)
        </div>


        <div class="editor-field">

            @Html.TextAreaFor(model => Model.ContentArticle, new { @class = "text-box multi-line " })
            @Html.ValidationMessageFor(model => model.ContentArticle)
        </div>

        <p style="text-align:center">
            <input type="submit" class="button" value="Save new topic" />
        </p>
    </fieldset>


<div>
       <a href class="link_back">@Resources.Resource.BackToList</a>
</div>
}
