﻿@model ForumProject.PresentationLayer.Models.ArticleViewModel
@{
    ViewBag.Title = "Remove article";
    
}

@System.Web.Optimization.Scripts.Render( 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")

@using (Html.BeginForm("Delete", "Article", FormMethod.Post))
{
     @Html.AntiForgeryToken()
    <h2>
        <img src="/Content/themes/base/images/delete_article.png" height="30" width="30">
        Remove article " @Model.Title "             
    </h2>
    
    <fieldset>
        <div id="content_topic">
            @Model.ContentArticle
        </div>
    </fieldset>   
    
    <p>
        <input type="submit" value="Remove article" class="btn" />
    </p>
   
}

<div>
    <a href class="link_back">@Resources.Resource.BackToList</a>
</div>
