﻿@model ForumProject.PresentationLayer.Models.ArticleViewModel
@{
    ViewBag.Title = "Edit article";

}

@System.Web.Optimization.Scripts.Render("~/bundles/microsoftajax",
                    "~/bundles/datepicker",
                     "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")
<h2>
    <img src="/Content/themes/base/images/edited_article.png" height="30" width="30">
    Edit topic
</h2>

@using (Html.BeginForm("Edit", "Article", FormMethod.Post))
{
    
    <fieldset>

        @Html.Label("Title")

        <div class="editor-field">
            @Html.EditorFor(model => Model.Title)
            @Html.ValidationMessageFor(model => Model.Title)
        </div>

        <br />
        @Html.Label("Content")

        <div class="editor-field">
            @Html.TextAreaFor(model => Model.ContentArticle, new { @class = "text-box multi-line " })

            @Html.ValidationMessageFor(model => Model.ContentArticle)

        </div>

        <p style="text-align: center">
            <input type="submit" class="button" value="Save topic" />
        </p>
    </fieldset>
}

<div>
    <a href class="link_back">@Resources.Resource.BackToList</a>
</div>


