﻿@using ForumProject.PresentationLayer.Models
@model ForumProject.PresentationLayer.Models.ArticlePagingViewModel
@using PagedList.Mvc;
@using ForumProject.PresentationLayer.Helpers;

@{
    ViewBag.Title = "Index";
  
}

@System.Web.Optimization.Scripts.Render("~/bundles/ListGridView", 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")


<div id="container">

    <div class="buttons">
        @Html.ActionLink(@Resources.Resource.NewTopic, "Create")

        
    <div id="widget" class="widget">       
         <h3 class="widget_title">
            <img style="border:0" width="14" height="14" src="../../Content/themes/base/images/rss.png" alt="RSS">
            RSS News</h3>
        <input type="button" value="Next" onclick="PostData()" />

        @*<input id="btn2" type="button" value="Next">  *@
    </div>
         

        <button class="grid">
            <img src="../../Content/themes/base/images/grid.png" height="30" width="30"></button>
        <button class="list">
            <img src="../../Content/themes/base/images/list.png"></button>

         <ul id="sort">
        <li> @Html.ActionLink("Name asc", "Index", new { sort = "name_asc"})</li>
         <li>@Html.ActionLink("Name desc", "Index", new { sort = "name_desc"})</li>
            </ul>
    </div>

    <br />

    <ul class="list"> 

        

        @foreach (ArticleViewModel item in Model.Articles)
        {
               
            <li>
                <nobr id="str1"> @Html.ActionLink(item.Title, "Show", new { item.Id})</nobr>
                
                <nobr id="str2"> @item.CountCommentByArticle comments</nobr>
                <nobr id="str3"> Author: @item.NickName</nobr>

                @if (Request.IsAuthenticated && User.IsInRole("Admin") || User.Identity.Name == item.NickName)
                {
                    <nobr id="str3">  @*@Html.ActionLink("Delete ", "Delete", new { item.Id }, new { @class = "delete" })*@
                    <a href="@Url.Action("Delete", new { item.Id })">
                    <img src="@Url.Content("~/Content/themes/base/images/remove.png")" height="20" width="20", alt="Delete" />
                    </a>
                       
                    <a href="@Url.Action("Edit", new { item.Id })">
                    <img src="@Url.Content("~/Content/themes/base/images/Edit.png")" height="20" width="20", alt="Edit" />
                    </a>

                         @*@Html.ActionLink("Edit", "Edit", new { item.Id }, new { @class = "edit"})*@</nobr>
                }

            </li>       
        }

    </ul>
</div>






<div class="pagination">
    <p>Page @(Model.PageInfo.TotalItems < Model.PageInfo.PageNumber ? 0 : Model.PageInfo.PageNumber) of @Model.PageInfo.TotalPages</p>
    @Html.PageLinks(Model.PageInfo.PageNumber,Model.PageInfo.TotalPages, page => Url.Action("Index",new { page = page}))

    </div>

@*<p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
<p>@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
new PagedListRenderOptions
{
    DisplayLinkToFirstPage = true,
    DisplayLinkToLastPage = true,
    LinkToFirstPageFormat = "<<",
    LinkToLastPageFormat = ">>",
    LinkToNextPageFormat = ">",
    LinkToPreviousPageFormat = "<",
    MaximumPageNumbersToDisplay = 3
})
</p>*@

    @*  @Html.Partial("~/Views/Shared/Pager.cshtml", new ViewDataDictionary())*@

  @*   @Html.Pager((int) ViewBag.ItemsCount, (int) ViewBag.PageSize)*@


<script>
    $(function () {

        var view = $.cookie('list_grid');
        if (view == 'grid') {
            $('#container ul').addClass('grid');
        }
        else {
            $('#container ul').addClass('list');
        }

    });


    $('button').on('click', function (e) {
        if ($(this).hasClass('grid')) {
            $('#container ul').removeClass('list').addClass('grid');

            $.cookie('list_grid', 'grid');
        }
        else if ($(this).hasClass('list')) {
            $('#container ul').removeClass('grid').addClass('list');
            $.cookie('list_grid', null);
        }
    });


        $.ajax({
            url: "http://localhost:50539/api/values",
            type: "GET",
            dataType: 'json',
            
            cache: true,
            success: function (data) {                
                var trHTML = '';
                for (var x = 0; x < data.length; x++) {
                    trHTML = '<li>' + data[x].Title 
                        + '<ul><a href="'
                        + data[x].Link + '">'
                        + data[x].Link + '</a></ul><ul>'
                        + data[x].PublishDate + '</ul>' + '</li>';
         
                    $('#widget').append(trHTML);

                }

            },
            error: function (msg) { alert(msg); }
        });
   
   

       
        function PostData() {
            var id = 5;
              
             $.ajax({
                         
                          url: "http://localhost:50539/api/values/"+id,
                          data: { 'id': id },
                        
                       
                        success: function (data) {
                              
                            var trHTML = '';
                            for (var x = 0; x < data.length; x++) {
                                trHTML = '<li>' + data[x].Title 
                                    + '<ul><a href="'
                                    + data[x].Link + '">'
                                    + data[x].Link + '</a></ul><ul>'
                                    + data[x].PublishDate + '</ul>' + '</li>';
         
                                $('#widget').append(trHTML);

                            }

                        },
                                   
                                 
                             
                  });
         
           return false;
         };



        //$('#btn2').click(function () {
        //    var id;
        //    $.ajax({
        //        url: 'http://localhost:50539/api/values',
        //        data: json,
        //        dataType: 'json',
        //        contentType: 'application/json; charset=utf-8',
        //        success: function (msg) {
        //            if (msg == 'True') {
        //                alert('');
        //                window.location.reload(true);
        //            };

        //        }

        //    });
        //});

    </script>