﻿@model ForumProject.PresentationLayer.Models.ArticleViewModel

@{
    ViewBag.Title = "Show";
}

@System.Web.Optimization.Scripts.Render( 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")

 @using (Ajax.BeginForm("Show", "Article", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "update", OnComplete = "ClearForm()" }))
 {        
     
        <p>Topic: @Model.Title</p>
        <p>Author: @Model.NickName</p>

        <div id="content_topic">@Model.ContentArticle</div>       

        <div style="width: 100%; float: left;">

             <div style="float: left; width: 50%;">
                <div style="margin: 10px; padding: 10px;" id="items_list">
                    
                    <div id ="update">
                    @{Html.RenderPartial("~/Views/Comment/PartialListComment.cshtml");}

       
                    </div>
                                      
                </div>
            </div>


            <div style="float: left; width: 50%;">
                <div style="margin: 10px; padding: 10px;">

                 <div id="input">
                    @Html.Partial("~/Views/Comment/Create.cshtml", new ViewDataDictionary())
           </div>
                  
                        <p>
                    <input type="submit" value="Post" id="post" />
                    </p>
                </div>
            </div>

        </div>

        <div style="clear: both;"></div>
 }

    <div>
        <a href class="link_back">@Resources.Resource.BackToList</a>
    </div>


<script>

    function DeleteComment(idArticle, idComment) {

        var idComment = idComment;
        var idArticle = idArticle;

        $.ajax({
            type: "POST",
            url: '@Url.Action("PartialListComment", "Comment")',
            data: "idArticle=" + idArticle + "&idComment=" + idComment,
            success: function (articleModel) {
                
                $('#update').html(articleModel);
            }
        });

    }

        
       function Paging(idArticle, page) {

               var page = page;
               var idArticle = idArticle;

               $.ajax({
                   url: '@Url.Action("PartialListComment","Comment")',
                   data: {
                      "page": page,
                      "idArticle": idArticle,
                   },
                success: function (data) {
                    $("#update").html(data);
                }
            });
        }

    function ClearForm() {
        $('form').find("input[name='TitleBaseComment']").val("");
       $('form').find("$('textarea')[name='ContentBaseComment']").val("");
    }
</script>

