﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />

    @System.Web.Optimization.Styles.Render("~/Content/css",
                   "~/Content/themes/base/css")
  
     @System.Web.Optimization.Scripts.Render(                   
                    "~/bundles/modernizr")                   
           @*         "~/bundles/myScripts"*@
   
</head>

<body>
    <div id="gwrapper">

        <div class="gheader">

            <div class="gheader1">

                <div class="label_for_logo">@Resources.Resource.Forum</div>

                <div style="float: right; margin-right:50px">
                    <div class="img_for_login">
                        <img src="/Content/themes/base/images/login_user.png" width="50" height="50">
                    </div>

                    <div class="label_for_login">@Html.Partial("LoginPartial")</div>


                    <div id ="lang">
       
          @*            
            <select name="lang" >
                <option disabled selected>@Resources.Resource.Language</option>
                <option value="ru" onclick="ChangeCulture('ru')" >Русский</option>
                <option value="en" onclick="ChangeCulture('en')">English</option>
            </select>*@
            

    </div>

                </div>

            </div>

            <div class="gheader2">

                <ul id="nav" style="float:left"> 
                    @if (Request.IsAuthenticated)
                    {
                    <li>@Html.ActionLink(@Resources.Resource.Articles, "Index", "Article")</li>                   
                    <li>@Html.ActionLink(@Resources.Resource.Users, "Index", "User")</li>
                    <li>@Html.ActionLink(@Resources.Resource.Authors, "Index", "Author")</li>
                           <li>@Html.ActionLink("Angular", "Index", "Angular")</li>
                             <li>@Html.ActionLink("Single Page", "IndexSinglePage", "Angular")</li>
                         <li>@Html.ActionLink("Wcf", "Index", "WCF")</li>
                    }

                <li style="float:right"> @Html.ActionLink("Русский","ChangeCulture", "Culture",new { lang = (int)ForumProject.PresentationLayer.Culture.ru, returnUrl =  this.Request.RawUrl },null )</li>
                <li style="float:right">@Html.ActionLink("English","ChangeCulture", "Culture", new { lang = (int)ForumProject.PresentationLayer.Culture.en, returnUrl =  this.Request.RawUrl }, null )</li>
            </ul>

            </div>

        </div>


        <div class="gcontent">

            <div class="gcontent-in">
                <div class="gcontent-in2">
                    <div id="Index Content Here">
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>


        <div class="gfooter">
            <div class="gfooter-in">
                <div class="gfooter1">
                    ForumProject,2015
                </div>

                <div class="gfooter2">
                    Copyright
                </div>
            </div>
        </div>
        
  </div>

   
    @RenderSection("scripts", required: false)


</body>

</html>





@*<script type="text/javascript">
    $(function ChangeCulture(lang) {
        $('#lang').change(function () {
           
            $.ajax({
                type: "POST",
                url: "/Account/ChangeCulture",
                data: "lang=" + ($('#lang option:selected').val()),
                success: function (response) { 
                    

                },
                error: function (response) { 
                    
                }
               
            });
           

        });
    });

    </script>*@


