﻿@using ForumProject.PresentationLayer.Models
@model IPager

@System.Web.Optimization.Scripts.Render( 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie")
<div class="pager">
    @if (Model.CurrentPage > 1)
    {
        <a class="pager-link" href="@Model.GetLinkForPage(Model.CurrentPage - 1)">Предыдущая</a>
    }
    @if (Model.StartDisplayedPage > 1)
    {
        <a class="pager-link" href="@Model.GetLinkForPage(1)">1</a>
        if (Model.StartDisplayedPage > 2)
        {
        <a class="pager-link" href="@Model.GetLinkForPage(Model.StartDisplayedPage - 1)">...</a>
        }
    }
    @for (int i = Model.StartDisplayedPage; i <= Model.EndDisplayedPage; i++)
    {
        if (i == Model.CurrentPage)
        {
            <span class="pager-text">@i</span>
        }
        else
        {
            <a class="pager-link" href="@Model.GetLinkForPage(i)">@i</a>
        }
    }
    @if (Model.EndDisplayedPage < Model.PageCount)
    {
        if (Model.EndDisplayedPage < Model.PageCount - 1)
        {
            <a class="pager-link" href="@Model.GetLinkForPage(Model.EndDisplayedPage + 1)">...</a>
        }
        <a class="pager-link" href="@Model.GetLinkForPage(Model.PageCount)">@Model.PageCount</a>
    }
    @if (Model.CurrentPage < Model.PageCount)
    {
        <a class="pager-link" href="@Model.GetLinkForPage(Model.CurrentPage + 1)">Следующая</a>
    }
</div>
