﻿@model ForumProject.PresentationLayer.Models.AuthorViewModel
@{
    ViewBag.Title = "Index";
}

<html>
<head> 
     <title>List Of Authors</title> 
     <style type="text/css">
   #maket {
    width: 100%; 
   }
   TD {
    vertical-align: top; 
    padding: 2px; 
   }

  </style>  
</head>
<body>
<h2 align="center">Authors</h2>          
          
     <table cellspacing="0" id="maket">
   <tr> 
       
      
   </tr>
  </table>
</body>
</html>
