﻿
 

@*        <div data-ng-app="myApp" class="row">
    <div data-ng-controller="ItemController">
         {{message}}

      <div class="formWrapper">
      <form name="postUser" novalidate>
        
        <div>
            <label for="Id">Id</label>   
            <input type="text" data-input-disabled="editMode" data-ng-model="users.Id" />   
        </div>
        
        <div>
             <label for="FirstName">FirstName</label>
            <input type="text" data-input-disabled="editMode" data-ng-model="users.FirstName" /> 
        </div>
          
        <div>
             <label for="LastName">LastName</label>
             <input type="text" data-input-disabled="editMode" data-ng-model="users.LastName" /> 
        </div>    

        <div>
             <label for="BirthDay">BirthDay</label>
            <input type="text" data-input-disabled="editMode" data-ng-model="users.BirthDay" /> 
        </div>   

           <div>
             <label for="Role">Role</label>
            <input type="text" data-input-disabled="editMode" data-ng-model="users.Role" /> 
        </div> 


         <span>
              <button type="submit"  data-ng-click="editMode = !editMode; editItem(users.Id);editItem(users.FirstName);editItem(users.LastName);" >Edit</button>
            
         </span>
          <span>
          
    <button type="submit"  data-ng-click="saveItem(users);" >Save</button>
            
              </span>
          </form>
    </div>
</div>
            </div>
*@
