﻿@using ForumProject.PresentationLayer.Models
@model ForumProject.PresentationLayer.Models.UserViewModel
@{
    ViewBag.Title = "Create user";
  
}
@System.Web.Optimization.Scripts.Render( 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie",
                    "~/bundles/datepicker", "~/bundles/myScripts")

<h2>Create user</h2>

@using (Html.BeginForm("Create", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Create new user</legend>


        <div class="editor-label">
            @Html.Label("First Name")
        </div>

        <div class="editor-field">

            @Html.EditorFor(model => Model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>


        <div class="editor-label">
            @Html.Label("Last Name")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => Model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>


        <div class="editor-label">
            @Html.Label("Birthday")
        </div>

        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Birthday, new { @class = "datePicker" })
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href class="link_back">@Resources.Resource.BackToList</a>
</div>


