﻿@model ForumProject.PresentationLayer.Models.UserViewModel
@{
    ViewBag.Title = "Remove user";
}

<h2>Remove user</h2>
@System.Web.Optimization.Scripts.Render( 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")

@using (Html.BeginForm("Delete", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <fieldset>
        
        <div class="delete_user">
        <p>@Html.Label("ID"): @Model.Id</p>
        <p>@Html.Label("First Name"): @Model.FirstName</p>
        <p>@Html.Label("Last Name"): @Model.LastName</p>
        <p>@Html.Label("Birthday"): @Model.Birthday.ToShortDateString()</p>
        <p>@Html.Label("Role"): @Model.Role</p>
        </div>

            <p>
            <input type="submit" value="Delete" />
        </p>
    </fieldset>
}

<div>
     <a href class="link_back">@Resources.Resource.BackToList</a>
</div>
