﻿@model ForumProject.PresentationLayer.Models.UserViewModel
@using System.Web.WebPages.Html
@{
    ViewBag.Title = "Edit user";
  
}
@System.Web.Optimization.Scripts.Render(
                        "~/bundles/jquery",
                        "~/bundles/jqueryui",
                        "~/bundles/jqueryval",
                        "~/bundles/cookie",
                    "~/bundles/datepicker", "~/bundles/myScripts")

<h2>Edit user</h2>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data", id = "fileUpload" }))
{    
    <fieldset>


                  

    <input type="file" name="file" required="required" title="Необходимо выбрать файл"/>
	<h2>@ViewBag.Msg</h2>

  


        <div class="editor-label">
            @Html.Label("First Name")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => Model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.Label("Last Name")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => Model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.Label("Birthday")
        </div>

        <div class="editor-field">
            @Html.TextBoxFor(model => Model.Birthday, new { @class = "datePicker" })
            @Html.ValidationMessageFor(model => model.Birthday)
        </div>

        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="editor-label">
                @Html.Label("Role")
            </div>        
             
            <div class="editor-field">
                @Html.DropDownListFor(m => Model.Role, new SelectList(
                  new List<Object>{ 
                       new { value = 1 , text = "Admin"  },
                       new { value = 2 , text = "User" }
                     
                    }, "value", "text", 2))
            </div>     

        }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    <a href class="link_back">@Resources.Resource.BackToList</a>
</div>

