﻿ @using ForumProject.PresentationLayer.Models
@model PagedList.IPagedList<ForumProject.PresentationLayer.Models.UserViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
   
}
@System.Web.Optimization.Scripts.Render( 
                    "~/bundles/jquery",
                    "~/bundles/jqueryui",
                    "~/bundles/jqueryval",
                    "~/bundles/cookie", "~/bundles/myScripts")


    <div class="main-content">

        @using (Html.BeginForm())
        {
    
            <div class="layout">
                <table cellpadding="7">
                    <tr>
                        <td id="name_column1">
                            @Html.ActionLink("First Name", "Index", new { sort = ViewBag.SortFirstName,page=Model.PageNumber})
                            <img src="/Content/themes/base/images/sort.png" height="25" width="25">
                        </td>
                        <td id="name_column1">
                            @Html.ActionLink("Last Name", "Index", new { sort = ViewBag.SortLastName,page=Model.PageNumber })
                            <img src="/Content/themes/base/images/sort.png" height="25" width="25">
                        </td>
                        <td id="name_column2">
                            @Html.ActionLink("Birthday", "Index", new { sort = ViewBag.SortBirthday,page=Model.PageNumber })
                            <img src="/Content/themes/base/images/sort.png" height="25" width="25">
                        </td>

                        


                        <td id="name_column2">Role</td>

                        <td id="name_column2">Image</td>

                        <td id="name_column2">Edit</td>
                    </tr>


                    @foreach (UserViewModel item in Model)
                    {
                        <tr>
                            <td id="col1">

                                @item.FirstName
                            </td>
                            <td id="col2">
                                @item.LastName
                            </td>

                            <td id="col3">
                                @item.Birthday.ToShortDateString()
                            </td>


                            <td id="col3">
                                @item.Role
                            </td>

                              <td id="col4">
                                 

                      <img src="@Url.Action("GetFile", "User", new { user_id = @item.Id})" alt="default" width="50px" height="50px" />
                                 
                                      </td>


                            <td id="col4">

                                 @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                 {                               
                                      @Html.ActionLink("Delete", "Delete", new { item.FirstName, item.Id, item.LastName, item.Birthday })
                                 }

                                 @Html.ActionLink("Edit", "Edit", new { item.FirstName, item.Id, item.LastName, item.Birthday })
                          </td>
                            
                        </tr>
                    }

                </table>
                                
            </div>
  
        }

        <div id="page">
            <p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

            <p>@Html.PagedListPager(Model, page => Url.Action("Index", new { page=page }),
            new PagedListRenderOptions
{
    DisplayLinkToFirstPage=true,
    DisplayLinkToLastPage=true,
     LinkToFirstPageFormat = "<<",
     LinkToLastPageFormat=">>",
    LinkToNextPageFormat=">",
    LinkToPreviousPageFormat="<",
    MaximumPageNumbersToDisplay = 3
})
            </p>

        </div>
    </div>


