﻿<div class="formWrapper">
    <form name="postUsers" novalidate>
        

           <div>
            <label for="FirstName">FirstName</label>
            <input type="text" data-input-disabled="editMode" ng-model="users.FirstName" name="FirstName" required />
           </div>

            <div>
                <label for="LastName">LastName</label>
                 <input type="text" data-input-disabled="editMode" ng-model="users.LastName" name="LastName" required />
             </div>

            <div>
                  <label for="BirthDay">BirthDay</label>
                 <input type="text" data-input-disabled="editMode" ng-model="users.Birthday" name="Birthday"  />
            </div>


        <div>
             <label for="BirthDay">Role</label>
          <select data-input-disabled="editMode" ng-model="atcStatusTasks" ng-options="s.name for s in statusTaskList"></select>

            @*<select name="Role"  ng-model="users.Role">

                 <option value="1">Admin</option>
      <option value="2">User</option>

            </select>*@
            </div>

 
       
             <button class="angular_button" type="submit"  data-ng-click="showButton = !showButton;editMode = !editMode; editItem(users.FirstName);editItem(users.LastName); editItem(users.Birthday);editItem(atcStatusTasks);" >Edit</button>
            

             <button class="angular_button" ng-show="showButton" ng-click="save(postUsers)">Save</button>
        <br/>
        <div class="angular">
            <br/>
        <a ng-click="Back()">Back</a>
      </div>
    </form>
 </div>





  

          
 