﻿@System.Web.Optimization.Scripts.Render("~/bundles/angularsingle")

<div  ng-app="myApp">
<div ng-controller="homeController">
  
       <div ng-view>
       <base href="/">
   
       </div>
           </div>
    </div>
 
