﻿<div>
    @*<a ng-click="createUsers()">Post New</a>*@
    <div class="angular" ng-repeat="n in users">
        <h6>{{n.FirstName}} {{n.LastName}}  {{n.Birthday |jsonDate}}            
      <a ng-click="editUsers(n.Id)">Edit</a> | <a ng-click="deleteUsers(n.ID)">Delete</a>

        </h6>
    </div>
</div>


