﻿   <div class="angular">
     <form name="post" >

            <label for="age">Enter your age</label>
            <input type="text" ng-model="question.age"/>
 <a ng-click="Next3(post)">Next</a>
         </form>
     </div>