﻿<div class="angular">
     <form name="post" >
      <h6>{{header}} </h6>

  
            <label for="FirstName">Enter your name</label>
            <input type="text" ng-model="question.name" />
         

      <a ng-click="Next2(post)">Next</a>
         </form>
     </div>
           
           
           

  