﻿   <div class="angular">
     <form name="post" >


            <label for="phone">Enter your phone</label>
            <input type="text" ng-model="question.phone" />
         
 <a ng-click="Next4(post)">Finish</a>
         </form>
     </div>