﻿@{
    Func<ModelMetadata, bool> shouldShow = metadata =>
                                           metadata.ShowForEdit
                                           && !ViewData.TemplateInfo.Visited(metadata);
}
@if (ViewData.TemplateInfo.TemplateDepth > 5)
{
    @(Model == null ?
        ViewData.ModelMetadata.NullDisplayText :
        ViewData.ModelMetadata.SimpleDisplayText)
}
else
{
    foreach (var prop in ViewData.ModelMetadata.Properties.Where(shouldShow))
    {
        if (prop.HideSurroundingHtml)
        {
            @Html.EditorFor(prop.PropertyName)
        }
        else
        {
            if (string.IsNullOrEmpty(Html.Label(prop.PropertyName).ToHtmlString()) == false)
            {
                <div class="editor-label">
                    @Html.Label(prop.PropertyName) 
                </div>
            }
            <div class="editor-field">
                @Html.EditorFor(prop.PropertyName)  
                @Html.ValidationMessage(prop.PropertyName) 
            </div>
        }
    }
}